@charset "utf-8";
/* CSS Document */
/*------------------------------------------------------------------
[Table of contents]

- Body
- Navigation 
- Top Strip
- Slider 
- Herotext 
- Inner Banners 
- Home Introduction 
- Icons Style 01,  Icons Style 02,  Icons Style 03,  Icons Style 04,  Icons Style 05
- Product Dark 01
- Our Team 01, Our Team 02, 
- Our Services
- FunFacts
- Pricing Tables
- Blog Listing Page
- Blog Detail Page
- Portfolio 
- Portfolio Details 
- Testimonals 01, Testimonals 02
- Contact us
- Footer
- Link & Buttons
- Scrollup
- No Gutter
- Parallax Images
- Bg Colors
- Media Quries

-------------------------------------------------------------------*/


/* -------------------------------------------------------------- BODY STARTS --------------------- */

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #000;
    line-height: 24px;
}
/* -------------------------------------------------------------- BODY ENDS --------------------- */

/* -------------------------------------------------------------- NAVIGATION & DROPDOWN MENU STARTS --------------------- */

a {
    color: #ff493b;
    text-decoration: none;
}
a:hover {
    color: #ff493b;
    text-decoration: underline;
}
.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 0px;
    border: 1px solid transparent;
}
nav.black-bg{
	background-color:#000;
}
#navigation {
    width: 100%;
    margin-left: auto;
    margin-bottom: auto;
    position: absolute;
    z-index: 99999;
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
}
.navbar-brand {
    float: left;
    height: 50px;
    padding: 34px 15px;
    font-size: 18px;
    line-height: 20px;
}
#navigation.sticky .navbar-brand {
    float: left;
    height: 50px;
    padding: 18px 15px;
    font-size: 18px;
    line-height: 20px;
}
#nav-whitebg {
    width: 100%;
    margin-left: auto;
    margin-bottom: auto;
    position: relative;
    z-index: 999999;
    background-color: #fff;
    border-bottom: 1px solid #f5f5f5;
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
}
#nav-whitebg .navbar-nav>li>a {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 12px;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 4px;
}
#nav-whitebg .navbar-nav>li>a:hover {
    color: #222;
}
#nav-whitebg .navbar-nav>.active>a,
#nav-whitebg .navbar-nav>.active>a:focus,
#nav-whitebg .navbar-nav>.active>a:hover {
    color: #222;
    background-color: transparent;
}
#nav-whitebg .navbar-nav>.open>a,
#nav-whitebg .navbar-nav>.open>a:focus,
#nav-whitebg .navbar-nav>.open>a:hover {
    color: #222;
    background-color: transparent;
}
.is-sticky #nav-whitebg .navbar-nav>li>a {
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 12px;
}
.is-sticky #nav-whitebg .navbar-brand {
    float: left;
    height: 50px;
    padding: 18px 15px;
    font-size: 18px;
    line-height: 20px;
}
#navigation.sticky {
    width: 100%;
    margin-left: auto;
    margin-bottom: auto;
    position: fixed;
    z-index: 99999;
    background-color: #000;
    top: 0px;
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
}
#navigation.sticky .navbar-nav>li>a {
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 12px;
}
#navigation.sticky .navbar-nav>li>a.active {
    color: #fff;
}
.navbar {
    border-radius: 0px;
}
.navbar-nav > li {
    float: none;
    display: inline-block;
}
.navbar-default {
    background-color: transparent;
    border-color: transparent;
}
.navbar-default .navbar-nav>li>a {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 4px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 30px;
    padding-bottom: 24px;
}
.navbar-default .navbar-nav>li>a:hover {
    color: #fff;
}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: transparent;
}
.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
    color: #fff;
    background-color: transparent;
}
.navbar-collapse {
  max-height: 340px;
}
.nav-icons {
    padding-top: 4px;
}
.nav-icons i.icons {
    font-size: 16px;
    font-weight: 700;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 10px;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #111;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}
.dropdown-menu>li>a {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 12px;
    color: #999;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: block;
    padding: 3px 10px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    white-space: nowrap;
}
.dropdown-menu>li>a:before {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f105";
    padding-right: 12px;
    color: #ff493b;
}
.dropdown-menu>li>a:hover {
    color: #fff;
    background-color: transparent
}
.yamm .yamm-content {
    padding: 4px!important;
}
.yamm .yamm-content ul{
	padding:0px;
	margin:0px;
}
.yamm .yamm-content ul li{
	list-style: none;
	padding:0px;
}
.yamm .yamm-content a {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 12px;
    color: #999;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: block;
    padding: 3px 10px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    white-space: nowrap;
}
.yamm .yamm-content a:before {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f105";
    padding-right: 12px;
    color: #ff493b;
}
.yamm .yamm-content a:hover {
    color: #fff;
    background-color: transparent;
	text-decoration: none;
}


/* -------------------------------------------------------------- NAVIGATION & DROPDOWN MENU ENDS --------------------- */
/* -------------------------------------------------------------- TOP NAV STRIP STARTS --------------------- */

.top-nav-strip {
    background: #353535;
}
.top-nav-strip .nav-contact {
    display: inline-block;
    padding-top: 12px;
    padding-right: 0px;
    padding-bottom: 12px;
    padding-left: 0px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.top-nav-strip .nav-contact ul {
    text-align: left;
    padding: 0;
    margin: 0;
}
.top-nav-strip .nav-contact ul li {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
}
.top-nav-strip .nav-contact ul li a i {
    padding-right: 4px;
}
.top-nav-strip .nav-contact ul li a {
    font-size: 13px;
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
}
.top-nav-strip .nav-contact ul li a:hover {
    text-decoration: none;
    opacity: 0.8;
}
.top-nav-strip ul.social-icons {
    padding: 0;
    margin: 0;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: right;
}
.top-nav-strip ul.social-icons li {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
}
.top-nav-strip ul.social-icons li a {
    color: #fff;
    font-size: 16px;
}
/* -------------------------------------------------------------- TOP NAV STRIP STARTS --------------------- */
/* -------------------------------------------------------------- SLIDER STARTS --------------------- */

#rs-demo-id{}	#rev_slider_212_1_wrapper .tp-loader.spinner3 div { background-color: #333333 !important; } .blurslider-gradient {  
	background: -webkit-linear-gradient(left,  #9357cc 0%,#2989d8 50%,#2cc99d 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	}
	.blurslider-line {  
	background: -webkit-linear-gradient(left,  #9357cc 0%,#2989d8 50%,#2cc99d 100%) !important;
	}#rev_slider_212_1 .uranus.tparrows {
	width:50px;
	height:50px;
	background:rgba(255,255,255,0);
	}
	#rev_slider_212_1 .uranus.tparrows:before {
	width:50px;
	height:50px;
	line-height:50px;
	font-size:40px;
	transition:all 0.3s;
	-webkit-transition:all 0.3s;
	}
	#rev_slider_212_1 .uranus.tparrows:hover:before {
	opacity:0.75;
	}
.soundcloudwrapper iframe{width:100% !important}
			.news-header .tp-tab-title {
			color:#fff;
			font-size:17px;
			font-weight:900;
			text-transform:uppercase;
			font-family:"Roboto"
			margin-bottom:5px;
			width: 350px;
			display: block;
			letter-spacing:1px;
			}
			.news-header .tp-tab-desc {
			font-size:17px;
			font-weight:500;
			color:#ffcc00;
			line-height:25px;
			font-family:"Roboto";
			}
.tiny_bullet_slider .tp-bullet:before{content:" ";  position:absolute;  width:100%;  height:25px;  top:-12px;  left:0px;  background:transparent}
#rev_slider_26_1 .uranus.tparrows{width:50px; height:50px; background:rgba(255,255,255,0)}#rev_slider_26_1 .uranus.tparrows:before{width:50px; height:50px; line-height:50px; font-size:40px; transition:all 0.3s;-webkit-transition:all 0.3s}#rev_slider_26_1 .uranus.tparrows:hover:before{opacity:0.75}.bullet-bar.tp-bullets{}.bullet-bar.tp-bullets:before{content:" ";position:absolute;width:100%;height:100%;background:transparent;padding:10px;margin-left:-10px;margin-top:-10px;box-sizing:content-box}.bullet-bar .tp-bullet{width:60px;height:3px;position:absolute;background:#aaa;  background:rgba(204,204,204,0.5);cursor:pointer;box-sizing:content-box}.bullet-bar .tp-bullet:hover,.bullet-bar .tp-bullet.selected{background:rgba(204,204,204,1)}.bullet-bar .tp-bullet-image{}.bullet-bar .tp-bullet-title{}			
/* -------------------------------------------------------------- SLIDER ENDS --------------------- */
/* -------------------------------------------------------------- SECTION STARTS --------------------- */

section {
    padding-top: 120px;
    padding-bottom: 120px;
}
/* -------------------------------------------------------------- SECTION ENDS --------------------- */
/* -------------------------------------------------------------- HERO TEXT STARTS --------------------- */

.herotext {
    padding-bottom: 60px;
}
.herotext.center {
    text-align: center;
}
.herotext h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 48px;
    color: #212121;
    margin: 0px;
    padding-top: 0px;
    padding-bottom: 10px;
    line-height: normal;
}
.herotext h2 {
    font-family: 'Lora', serif;
    font-weight: 400;
    font-size: 16px;
    font-style: italic;
    text-transform: uppercase;
    color: #787d85;
    margin: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    line-height: normal;
}
.herotext .short-description {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: #787d85;
    margin: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    line-height: 30px;
}
.herotext.center .lines .mainLine {
    position: absolute;
    top: 16px;
    width: 50px;
    height: 2px;
    margin-top: -3px;
    background: #ff493b;
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}
.lines {
    position: relative;
    height: 30px;
    margin-top: 10px;
}
.lines .mainLine {
    position: absolute;
    top: 16px;
    left: -15px;
    width: 50px;
    height: 2px;
    margin-top: -3px;
    background: #ff493b;
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
}
.lines .mainLine:before {
    top: -4px;
}
.lines .mainLine:before {
    content: "";
    position: absolute;
    right: 2px;
    display: block;
    width: 10px;
    height: 2px;
    background: #ff493b;
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
}
.lines .mainLine:after {
    top: 4px;
}
.lines .mainLine:after {
    content: "";
    position: absolute;
    left: 6px;
    display: block;
    width: 20px;
    height: 2px;
    background: #ff493b;
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
}
.herotext-02 {
    padding-bottom: 15px;
}
.herotext-02 h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 34px;
    color: #000;
    margin: 0px;
    padding: 0px;
}
.herotext-02 h2 {
    font-family: 'Lora', serif;
    font-weight: 400;
    font-size: 20px;
    font-style: italic;
    color: #787d85;
    margin: 0px;
    padding: 0px;
    padding-top: 6px;
}
/* -------------------------------------------------------------- HERO TEXT ENDS --------------------- */
/* ---------------------------------------------------------------------- INNER BANNER STYLE STARTS ------------------ */

.inner-banner-style .info {
    padding-top: 200px;
    padding-bottom: 140px;
}
.inner-banner-style .info h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    font-weight: 400;
    color: #fff;
    letter-spacing: 4px;
    text-align: center;
    text-transform: uppercase;
    padding: 0px;
    margin: 0px;
}
.inner-banner-style .breadcrumb {
    font-family: 'Lora', serif;
    font-weight: 300;
    margin-bottom: 0px;
    list-style: none;
    background-color: transparent;
    border-radius: 0px;
    padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 0px;
    text-align: center;
    text-transform: uppercase;
}
.inner-banner-style .breadcrumb>li a {
    font-size: 14px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #fff;
}
.inner-banner-style .breadcrumb>li a:hover {
    color: #ff493b;
    text-decoration: none;
}
.inner-banner-style .breadcrumb>.active {
    font-size: 14px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #fff;
}
.banner-img-01 {
    background-attachment: fixed;
    background-image: url(../images/inner-banner/1.jpg);
    background-repeat: repeat-y;
    background-position: 50% 0;
    background-size: cover;
}
.banner-img-02 {
    background-attachment: fixed;
    background-image: url(../images/inner-banner/2.jpg);
    background-repeat: repeat-y;
    background-position: 50% 0;
    background-size: cover;
}
.banner-img-03 {
    background-attachment: fixed;
    background-image: url(../images/inner-banner/3.jpg);
    background-repeat: repeat-y;
    background-position: 50% 0;
    background-size: cover;
}
.banner-img-04 {
    background-attachment: fixed;
    background-image: url(../images/inner-banner/4.jpg);
    background-repeat: repeat-y;
    background-position: 50% 0;
    background-size: cover;
}
.banner-img-05 {
    background-attachment: fixed;
    background-image: url(../images/inner-banner/5.jpg);
    background-repeat: repeat-y;
    background-position: 50% 0;
    background-size: cover;
}
.banner-img-06 {
    background-attachment: fixed;
    background-image: url(../images/inner-banner/6.jpg);
    background-repeat: repeat-y;
    background-position: 50% 0;
    background-size: cover;
}
.banner-img-07 {
    background-attachment: fixed;
    background-image: url(../images/inner-banner/7.jpg);
    background-repeat: repeat-y;
    background-position: 50% 0;
    background-size: cover;
}
.banner-img-08 {
    background-attachment: fixed;
    background-image: url(../images/inner-banner/8.jpg);
    background-repeat: repeat-y;
    background-position: 50% 0;
    background-size: cover;
}
.banner-img-09 {
    background-attachment: fixed;
    background-image: url(../images/inner-banner/9.jpg);
    background-repeat: repeat-y;
    background-position: 50% 0;
    background-size: cover;
}
.banner-img-10 {
    background-attachment: fixed;
    background-image: url(../images/inner-banner/10.jpg);
    background-repeat: repeat-y;
    background-position: 50% 0;
    background-size: cover;
}
/* ---------------------------------------------------------------------- INNER BANNER STYLE  STARTS ------------------ */
/* -------------------------------------------------------------- INTRODUCTION 01 STARTS --------------------- */

.introduction-01 .herotext {
    padding-bottom: 20px;
}
.introduction-01 .herotext-02 {
    padding-bottom: 10px;
    margin-top: -15px;
}
.introduction-01 .description strong {
    font-family: 'Lora', serif;
    font-weight: 600;
    font-size: 18px;
    font-style: italic;
}
.introduction-01 .block {
    padding-top: 70px;
}
.introduction-01 .block .description {
    padding-right: 40px;
}
.introduction-01 .description .button {
    padding-top: 20px;
}
.introduction-01 .block .heading-with-count .count {
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    font-size: 200px;
    font-style: italic;
    color: #eeeeee;
}
.introduction-01 .block .button {
    padding-top: 20px;
}
/* -------------------------------------------------------------- INTRODUCTION 01 ENDS --------------------- */
/* -------------------------------------------------------------- INTRODUCTION 02 STARTS --------------------- */

.introduction-02 .herotext-02 {
    padding-top: 30px;
}
.introduction-02 .herotext-02 h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 28px;
    color: #000;
    margin: 0px;
    padding: 0px;
}
.introduction-02 .herotext-02 h2 {
    font-family: 'Lora', serif;
    font-weight: 400;
    font-size: 20px;
    font-style: italic;
    color: #787d85;
    margin: 0px;
    padding: 0px;
    padding-top: 6px;
}
.introduction-02 .description strong {
    font-family: 'Lora', serif;
    font-weight: 400;
    font-size: 18px;
    font-style: italic;
}
.introduction-02 .block .description {
    padding-right: 40px;
}
.introduction-02 .block .button {
    padding-top: 20px;
}
/* -------------------------------------------------------------- INTRODUCTION 02 ENDS --------------------- */
/* -------------------------------------------------------------- ICON STYLE 01 STARTS --------------------- */

.icons-style-01 .herotext {
    padding-bottom: 50px;
}
.icons-style-01 .herotext h1,
.icons-style-01 .herotext h2,
.icons-style-01 .herotext .short-description {
    color: #fff;
}
.icons-style-01 .block {
    background-color: #fff;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}
.icons-style-01 .block .icon {
    height: 60px;
    width: 60px;
    border-radius: 30px;
    color: #fff;
    font-size: 28px;
    padding-top: 16px;
    background-color: #ff493b;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}
.icons-style-01 .block h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 22px;
    color: #212121;
    margin: 0px;
    padding: 0px;
}
.icons-style-01 .block .description {
    padding-top: 20px;
}
.icons-style-01 .block .button {
    padding-top: 20px;
}
.icons-style-01 .block.hvr-overline-reveal {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(3px) translateZ(0);
    transform: perspective(3px) translateZ(0);
    box-shadow: 0 0 3px transparent;
    position: relative;
    overflow: hidden;
}
/* -------------------------------------------------------------- ICON STYLE 01 STARTS --------------------- */
/* -------------------------------------------------------------- ICON STYLE 02 STARTS --------------------- */

.icons-style-02 .herotext {
    padding-bottom: 50px;
}
.icons-style-02 .block {
    text-align: left;
}
.icons-style-02 .block .icon {
    color: #000;
    font-size: 24px;
    padding-top: 26px;
    float: left;
}
.icons-style-02 .block .info {
    margin-left: 60px;
}
.icons-style-02 .block .info .heading {
    position: relative;
}
.icons-style-02 .block .info .heading .singleline {
    position: absolute;
    bottom: 0px;
    left: -15px;
    width: 40px;
    height: 2px;
    background: #ff493b;
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
}
.icons-style-02 .block .info .heading h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #000;
    margin: 0px;
    padding: 0px;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding-bottom: 20px;
}
.icons-style-02 .block .info .description {
    padding-top: 20px;
}
.icons-style-02 .block .info .button {
    padding-top: 20px;
}
/* -------------------------------------------------------------- ICON STYLE 02 STARTS --------------------- */
/* -------------------------------------------------------------- ICON STYLE 03 STARTS --------------------- */

.icons-style-03 .herotext {
    padding-bottom: 60px;
}
.icons-style-03 .block {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
    text-align: center;
}
.icons-style-03 .block .icon {
    color: #000;
    font-size: 100px;
    padding-bottom: 50px;
}
.icons-style-03 .block h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 22px;
    color: #000;
    margin: 0px;
    padding: 0px;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.icons-style-03 .block .description {
    padding-top: 20px;
}
.icons-style-03 .block .info .button {
    padding-top: 20px;
}
/* -------------------------------------------------------------- ICON STYLE 03 STARTS --------------------- */
/* -------------------------------------------------------------- ICON STYLE 04 STARTS --------------------- */

section.icons-style-04 {
    padding-top: 0px;
    padding-bottom: 0px;
}
.icons-style-04 section {
    padding-top: 100px;
    padding-bottom: 100px;
}
.icons-style-04 .herotext {
    padding-bottom: 30px;
}
.icons-style-04 .contents {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.icons-style-04 .block {
    background-color: #fff;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
    margin-top: 25px;
}
.icons-style-04 .block .icon {
    color: #ff493b;
    font-size: 28px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}
.icons-style-04 .block h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #000;
    margin: 0px;
    padding: 0px;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.icons-style-04 .block .description {
    padding-top: 15px;
}
.icons-style-04 .block .button {
    padding-top: 20px;
}
.icons-style-04 .block:hover .icon,
.icons-style-04 .block:hover h1 {
    color: #fff;
    transition-duration: 0.5s;
}
/* -------------------------------------------------------------- ICON STYLE 04 ENDS --------------------- */
/* -------------------------------------------------------------- ICON STYLE 05 STARTS --------------------- */

section.icons-style-05 {
    padding-top: 0px;
    padding-bottom: 0px;
}
.icons-style-05 section {
    padding-top: 100px;
    padding-bottom: 100px;
}
.icons-style-05 .herotext {
    padding-bottom: 0px;
}
.icons-style-05 .block {
    text-align: left;
    padding-top: 50px;
}
.icons-style-05 .block .icon {
    color: #000;
    font-size: 50px;
    float: left;
}
.icons-style-05 .block .info {
    margin-left: 80px;
}
.icons-style-05 .block .info .heading {
    position: relative;
}
.icons-style-05 .block .info .heading .singleline {
    position: absolute;
    bottom: 0px;
    left: -15px;
    width: 40px;
    height: 2px;
    background: #ff493b;
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
}
.icons-style-05 .block .info .heading h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #000;
    margin: 0px;
    padding: 0px;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding-bottom: 14px;
}
/* -------------------------------------------------------------- ICON STYLE 05 ENDS --------------------- */
/* -------------------------------------------------------------- PRODUCT DARK 01 STARTS --------------------- */

section.product-dark-01 {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 100px;
}
.product-dark-01 .herotext {
    padding-bottom: 20px;
}
.product-dark-01 .herotext h1 {
    color: #fff;
}
.product-dark-01 .herotext h2 {
    color: #959595;
}
.product-dark-01 .herotext .short-description {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: #959595;
    margin: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    line-height: 30px;
}
.product-dark-01 .description strong {
    font-family: 'Lora', serif;
    font-weight: 600;
    font-size: 18px;
    font-style: italic;
}
.product-dark-01 .block {
    padding-top: 50px;
}
.product-dark-01 .block .description {
    padding-right: 40px;
}
.product-dark-01 .description .button {
    padding-top: 20px;
}
.product-dark-01 .block .heading-with-count .count {
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    font-size: 200px;
    font-style: italic;
    color: #eeeeee;
}
.product-dark-01 .description .button {
    padding-top: 20px;
}
.product-dark-01 .description .button a.link:hover {
    color: #fff;
}
.product-dark-01 .pic {
    margin-top: -100px;
}
/* -------------------------------------------------------------- PRODUCT DARK 01 ENDS --------------------- */
/* -------------------------------------------------------------- PRODUCT 01 STARTS --------------------- */

.product-01 .herotext {
    padding-bottom: 20px;
}
.product-01 .herotext-02 {
    padding-bottom: 10px;
    margin-top: -15px;
}
.product-01 .description strong {
    font-family: 'Lora', serif;
    font-weight: 600;
    font-size: 18px;
    font-style: italic;
}
.product-01 .block {
    padding-top: 50px;
}
.product-01 .block .description {
    padding-right: 40px;
}
.product-01 .description .button {
    padding-top: 20px;
}
.product-01 .block .heading-with-count .count {
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    font-size: 200px;
    font-style: italic;
    color: #eeeeee;
}
.product-01 .block .button {
    padding-top: 20px;
}
/* -------------------------------------------------------------- PRODUCT 01 ENDS --------------------- */
/* ------------------------------------------- OUT TEAM STARTS ---------- */
/* team block */

.b-team-holder {
    background: #f6f8f9;
    padding-top: 122px;
    margin-bottom: 130px;
}
.b-team-holder .b-upper-title {
    color: #ffffff;
    margin-top: -25px;
    margin-bottom: -15.5%;
}
.b-team-holder .slick-holder {
    padding-top: 50px;
}
/* team carousel */

.team-carousel-item {
    width: 395px;
    padding: 0 15px;
}
.team-member {
    position: relative;
}
.member-caption {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
    width: 90%;
    padding-top: 18px;
    padding-bottom: 10px;
    background: rgba(255, 255, 255, 0.8);
    -webkit-box-shadow: 0px 1px 6px 1px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 1px 6px 1px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 1px 6px 1px rgba(0, 0, 0, 0.4);
    opacity: 0;
    -webkit-transition: opacity 0.4s ease-in-out;
    -moz-transition: opacity 0.4s ease-in-out;
    -ms-transition: opacity 0.4s ease-in-out;
    -o-transition: opacity 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.member-caption .member-name {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #000;
    margin: 0px;
    padding: 0px;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.member-caption .member-position {
    font-family: 'Lora', serif;
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    color: #787d85;
    margin: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    letter-spacing: 3px;
    line-height: normal;
}
.member-caption .b-socials {
    margin-top: 10px;
}
.member-caption .b-socials ul li {
    background-color: #ff493b;
    height: 30px;
    width: 30px;
    border-radius: 15px;
    color: #fff;
    padding-top: 3px;
    margin-left: 2px;
    margin-right: 2px;
}
.member-caption .b-socials ul li a {
    color: #fff;
}
.member-caption .b-socials ul li:hover {
    background-color: #000;
}
.team-carousel-item.slick-active .member-caption {
    opacity: 1;
}
/* team list */

.b-team-holder-mod {
    margin-bottom: -325px;
}
.slick-slide img {
    border-top: 3px solid transparent;
}
.slick-current img {
    border-top: 3px solid #ff493b;
}
.b-team-list {
    position: relative;
    -webkit-box-shadow: 0px 1px 6px 1px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 1px 6px 1px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 1px 6px 1px rgba(0, 0, 0, 0.4);
    margin: 0 5px;
}
.b-team-list:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 25px 0px 0 25px;
    position: absolute;
    right: 5%;
    bottom: -25px;
}
.b-team-list ul {
    margin-bottom: 0;
}
.b-team-list .team-list-item {
    float: left;
    position: relative;
    overflow: hidden;
}
.b-team-list .team-list-item .member-list-caption {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 100%;
    color: #fff;
    padding: 40px 15px 0 45px;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
.b-team-list .team-list-item .member-list-caption:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
}
.b-team-list .team-list-item .member-list-caption .member-name {
    font-size: 24px;
    position: relative;
}
.b-team-list .team-list-item .member-list-caption .member-position {
    color: inherit;
    font-size: 16px;
    position: relative;
}
.b-team-list .team-list-item .member-list-caption .b-socials {
    position: absolute;
    width: 100%;
    bottom: 40px;
    z-index: 2;
}
.b-team-list .team-list-item .member-list-caption .b-socials li {
    margin-right: 15px;
}
.b-team-list .team-list-item .member-list-caption .b-socials a {
    color: inherit;
}
.b-team-list .team-list-item .member-list-caption .b-socials a:hover {
    opacity: .85;
}
.b-team-list .team-list-item:hover .member-list-caption {
    top: 0;
}
.b-team-list .team-list-item.last-list-item .member-list-caption {
    top: 0;
    padding: 0 15px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.b-team-list .team-list-item.last-list-item .member-list-caption .list-title {
    font-size: 24px;
    position: relative;
}
.b-team-list .team-list-item.last-list-item .member-list-caption .list-description {
    position: relative;
    font-size: 16px;
    opacity: .6;
    margin-bottom: 42px;
    line-height: 1.5;
}
.b-team-list .team-list-item.last-list-item .member-list-caption .btn {
    width: auto;
    padding: 16px 35px;
}
/* latest carousel */

.slick-holder {
    position: relative;
    margin-bottom: 85px;
}
.latest-carousel-item {
    padding: 15px 0;
    width: 1200px;
}
.latest-carousel-item .blog-item-content {
    width: 47.5%;
    float: left;
    margin: 0 15px;
    opacity: .3;
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -ms-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
}
.latest-carousel-item.slick-active .blog-item-content {
    opacity: 1;
}
.b-slick-arrows {
    width: 1200px;
    padding: 0 15px;
    position: absolute;
    margin: 0 auto;
    top: 50%;
    left: 0;
    right: 0;
}
.b-slick-arrows .custom-slideshow-controls span {
    top: 50%;
    margin-top: -24px;
}
.b-slick-arrows .slick-arrows-prev {
    left: -8px;
}
.b-slick-arrows .slick-arrows-next {
    right: -8px;
}
/* custom sliders arrows */

.custom-slideshow-controls span {
    display: block;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    font-size: 22px;
    color: #fff;
    text-align: center;
    position: absolute;
    cursor: pointer;
}
.custom-slideshow-controls span a {
    display: block;
    height: 100%;
}
.custom-slideshow-controls span i {
    cursor: pointer;
    position: absolute;
    top: 50%;
    margin-top: -11px;
    left: 0;
    right: 0;
}
.custom-slideshow-controls span:active {
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.325);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.325);
}
.custom-slideshow-controls span.arrow-transparent {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.custom-slideshow-controls span {
    background: #ff493b;
}
.team .progress-01-b .block .progress {
    height: 3px;
    margin-bottom: 20px;
    overflow: hidden;
    background-color: #f5f5f5;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
}
.team .progress-01-b .block .progress-bar {
    background-color: #ff493b;
    position: relative;
}
.team .progress-01-b .block .progress-label div {
    display: inline-block;
}
.team .progress-01-b .block .progress-label .caption {
    font-family: 'Lora', serif;
    font-weight: 400;
    font-size: 14px;
    color: #333333;
    font-weight: 400;
    text-transform: uppercase;
    font-style: italic;
    float: left;
}
.team .progress-01-b .block .progress-label .percentage {
    font-size: 16px;
    color: #333333;
    font-weight: 400;
    text-transform: uppercase;
    float: right;
    margin-left: -30px;
}
/* ------------------------------------------- OUT TEAM ENDS ---------- */
/* ---------------------------------------------------------------------- TEAM 2 STARTS ---------- */

.team-2 .block {
    text-align: center;
}
.team-2 .block .name {
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    padding-top: 26px;
    letter-spacing: 3px;
}
.team-2 .block .designation {
    font-family: 'Lora', serif;
    font-weight: 400;
    font-size: 14px;
    font-style: italic;
    text-transform: uppercase;
    color: #fff;
}
.team-2 .block .picture ul.social-icons {
    position: absolute!important;
    z-index: 9999;
    top: 50px;
    left: 45px;
    padding: 0px;
    margin: 0px;
}
.team-2 .block .picture ul.social-icons li {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    font-size: 14px;
    color: #aaaaaa;
    background-color: #fff;
    list-style: none;
    padding-top: 8px;
    margin-bottom: 6px;
}
.team-2 .block .picture ul.social-icons li a {
    color: #222;
}
.team-2 .block .picture .overlay-info {
    -webkit-backface-visibility: hidden;
    display: block;
    position: absolute!important;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    opacity: 0;
    text-align: left;
    -webkit-transition: all .3s ease-in-out 0s;
    -moz-transition: all .3s ease-in-out 0s;
    -ms-transition: all .3s ease-in-out 0s;
    -o-transition: all .3s ease-in-out 0s;
    transition: all .3s ease-in-out 0s;
}
.team-2 .block .picture .overlay-info .icons {
    display: table;
    width: 100%;
    height: 100%;
    vertical-align: bottom;
    background-color: rgba(0, 0, 0, 0.7);
}
.team-2 .block .picture .overlay-info:hover {
    opacity: 1
}
.team-2 .block .picture .overlay-info .icons>:first-child {
    display: table-cell;
    vertical-align: bottom;
    text-align: center;
}
.team-2 .block .picture .overlay-info .icons>:first-child .icon {
    display: inline-block!important;
    color: #fff;
    padding-left: 16px;
    padding-bottom: 16px;
    text-align: center;
    -webkit-transition: all .1s ease-in-out 0s;
    -moz-transition: all .1s ease-in-out 0s;
    -ms-transition: all .1s ease-in-out 0s;
    -o-transition: all .1s ease-in-out 0s;
    transition: all .1s ease-in-out 0s;
}
.team-2 .block .picture .overlay-info .icons>:first-child .icon a {
    font-size: 18px;
    line-height: normal!important;
    color: #fff;
}
.team-2 .block .picture .overlay-info .icons>:first-child .icon a:hover {
    opacity: 0.8;
}
.team-2 .progress-01-b .block {
    padding-top: 0px;
    padding-bottom: 0px;
}
.team-2 .progress-01-b .block .progress {
    height: 3px;
    margin-bottom: 20px;
    overflow: hidden;
    background-color: #f5f5f5;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
}
.team-2 .progress-01-b .block .progress-bar {
    background-color: #ff493b;
    position: relative;
}
.team-2 .progress-01-b .block .progress-label div {
    display: inline-block;
}
.team-2 .progress-01-b .block .progress-label .caption {
    font-family: 'Lora', serif;
    font-weight: 400;
    font-size: 14px;
    color: #333333;
    font-weight: 400;
    text-transform: uppercase;
    font-style: italic;
    float: left;
}
.team-2 .progress-01-b .block .progress-label .percentage {
    font-size: 16px;
    color: #333333;
    font-weight: 400;
    text-transform: uppercase;
    float: right;
    margin-left: -30px;
}
/* ---------------------------------------------------------------------- TEAM 2 ENDS ---------- */
/* ---------------------------------------------------------------------- PROGRESS BAR STARTS ---------- */

.progress-01-b .block {
    padding-top: 0px;
    padding-bottom: 0px;
}
.progress-01-b .block .progress {
    height: 3px;
    margin-bottom: 20px;
    overflow: hidden;
    background-color: #f5f5f5;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
}
.progress-01-b .block .progress-bar {
    background-color: #ff493b;
    position: relative;
}
.progress-01-b .block .progress-label div {
    display: inline-block;
}
.progress-01-b .block .progress-label .caption {
    font-family: 'Lora', serif;
    font-weight: 400;
    font-size: 14px;
    color: #333333;
    font-weight: 400;
    text-transform: uppercase;
    font-style: italic;
    float: left;
}
.progress-01-b .block .progress-label .percentage {
    font-size: 16px;
    color: #333333;
    font-weight: 400;
    text-transform: uppercase;
    float: right;
    margin-left: -30px;
}
/* ---------------------------------------------------------------------- PROGRESS BAR ENDS ---------- */
/* ---------------------------------------------------------------------- SERVICES PICS STARTS ---------- */

.servicespics {
    text-align: center;
}
.servicespics .block .info {
    display: block;
    position: absolute;
    overflow: hidden;
    color: #fff;
    background: rgba(0, 0, 0, 0.8);
    text-align: left!important;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    height: 0px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    text-align: center;
    line-height: 20px;
    text-transform: uppercase;
}
.servicespics .block:hover .info {
    display: block;
    position: absolute;
    height: 90px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    margin-top: -90px;
}
.servicespics .block .info .s-name {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #fff;
    line-height: normal;
}
.servicespics .block .info .s-cat {
    font-family: 'Lora', serif;
    font-weight: 400;
    font-size: 14px;
    font-style: italic;
    text-transform: uppercase;
    color: #fff;
    margin-top: 5px;
    line-height: normal;
}
/* ---------------------------------------------------------------------- SERVICES PICS ENDS ---------- */
/* ------------------------------------------- FUNFACTS STARTS ---------- */

section.fun-facts {
    padding-top: 70px;
    padding-bottom: 70px;
}
.fun-facts .block {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
.fun-facts .icon {
    font-size: 50px;
    margin-bottom: 30px;
    color: #fff;
}
.fun-facts .count {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 48px;
    color: #fff;
    margin: 0px;
    padding-top: 0px;
    padding-bottom: 10px;
    line-height: normal;
    letter-spacing: 4px;
}
.fun-facts .caption {
    font-family: 'Lora', serif;
    font-weight: 400;
    font-size: 16px;
    font-style: italic;
    text-transform: uppercase;
    color: #fff;
    margin: 0px;
    letter-spacing: 3px;
    line-height: normal;
}
/* ------------------------------------------- FUNFACTS ENDS ---------- */
/* -------------------------------------------------------------- ICON STYLE 01 STARTS --------------------- */

.pricingtable .hvr-reveal {
    display: block;
    vertical-align: middle;
    -webkit-transform: perspective(2px) translateZ(0);
    transform: perspective(2px) translateZ(0);
    box-shadow: 0 0 2px transparent;
    position: relative;
    overflow: hidden;
}
.pricingtable .block {
    background-color: #fff;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}
.pricingtable .block .lines {
    position: relative;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.pricingtable .block .herotext {
    padding-bottom: 0px;
}
.pricingtable .block .icon {
    color: #000;
    font-size: 50px;
    padding-bottom: 30px;
}
.pricingtable .block h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 100px;
    color: #212121;
    margin: 0px;
    padding-top: 0px;
    padding-bottom: 6px;
    line-height: normal;
}
.herotext h2 {
    font-family: 'Lora', serif;
    font-weight: 400;
    font-size: 16px;
    font-style: italic;
    text-transform: uppercase;
    color: #787d85;
    margin: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    line-height: normal;
}
.herotext h3 {
    font-family: 'Lora', serif;
    font-weight: 400;
    font-size: 16px;
    font-style: italic;
    text-transform: uppercase;
    color: #787d85;
    margin: 0px;
    padding-top: 0px;
    padding-bottom: 5px;
    line-height: normal;
}
.pricingtable .block ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
    padding-top: 30px;
    padding-bottom: 30px;
}
.pricingtable .block ul li {
    font-size: 16px;
    padding-top: 4px;
    padding-bottom: 4px;
}
.pricingtable .block .button {
    padding-top: 10px;
}
.pricingtable .block .button a.btn {
    text-transform: uppercase;
    padding: 14px 30px;
    border: 2px solid #ff493b;
    background-color: #ff493b;
    border-radius: 30px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 2px;
    color: #fff;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    -ms-transition: background 0.3s ease-in-out;
    -o-transition: background 0.3s ease-in-out;
    transition: background 0.3s ease-in-out;
}
.pricingtable .block .button a.btn:hover {
    text-transform: uppercase;
    padding: 14px 30px;
    border: 2px solid #ff493b;
    background-color: transparent;
    border-radius: 30px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 2px;
    color: #ff493b;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    -ms-transition: background 0.3s ease-in-out;
    -o-transition: background 0.3s ease-in-out;
    transition: background 0.3s ease-in-out;
}
/* -------------------------------------------------------------- ICON STYLE 01 ENDS --------------------- */
/* -------------------------------------------------------------- BLOG STARTS --------------------- */

.blog.page .post {
    margin-bottom: 60px;
}
.blog .post .pic {
    margin-bottom: 20px;
}
.blog .post h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #212121;
    margin: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    line-height: normal;
}
.blog .post .meta-info ul {
    padding: 0px;
    margin: 0px;
    font-family: 'Lora', serif;
    font-weight: 400;
}
.blog .post .meta-info ul li {
    display: inline-block;
    padding-left: 6px;
    text-transform: uppercase;
}
.blog .post .meta-info ul li:first-child {
    display: inline-block;
    padding-left: 0px;
}
.blog .post .meta-info ul li:first-child:before {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "";
    padding-right: 0px;
}
.blog .post .meta-info ul li:before {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "/";
    padding-right: 10px;
}
.blog .post .meta-info ul li a {
    font-size: 13px;
    color: #666666;
    text-decoration: none;
}
.blog .post .meta-info ul li a:hover {
    color: #ff493b;
    text-decoration: none;
}
.blog .post .description {
    padding-top: 12px;
}
.blog .post .button {
    padding-top: 20px;
}
.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 0px;
    border-radius: 4px;
    margin-top: 0px;
}
.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #ff493b;
    border-color: #ff493b;
}
.pagination>li>a:focus,
.pagination>li>a:hover,
.pagination>li>span:focus,
.pagination>li>span:hover {
    z-index: 2;
    color: #fff;
    background-color: #ff493b;
    border-color: #ff493b;
}
.pagination>li>a,
.pagination>li>span {
    position: relative;
    float: left;
    padding: 9px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ccc;
    height: 40px;
    width: 40px;
    border-radius: 20px;
    text-align: center;
    margin-right: 5px;
    background-color: #ccc;
    color: #fff;
}
.pagination>li:first-child>a,
.pagination>li:first-child>span {
    margin-left: 0;
    height: 40px;
    width: 40px;
    border-radius: 20px;
}
.pagination>li:last-child>a,
.pagination>li:last-child>span {
    margin-left: 0;
    height: 40px;
    width: 40px;
    border-radius: 20px;
}
/* -------------------------------------------------------------- BLOG ENDS --------------------- */
/* ---------------------------------------------------------------------- BLOG DETAIL STARTS ---------- */

.blog.detail .post {
    padding-bottom: 20px;
    margin-bottom: 0px;
}
.blog.detail h1 {
    line-height: normal;
}
blockquote {
    font-size: 15px;
    border-left: none;
    margin-top: 40px;
    margin-right: auto;
    margin-bottom: 20px;
    padding: 0px;
}
blockquote p {
    color: #333333;
    font-size: 20px;
    font-style: italic;
    font-weight: 700;
    padding-top: 10px;
    line-height: 30px;
}
blockquote .quote {
    height: 80px;
    width: 70px;
    font-size: 30px;
    padding-top: 25px;
    text-align: center;
    background-color: #ff493b;
    color: #fff;
    float: left;
    margin-right: 30px;
    margin-bottom: 20px;
}
.blog.detail .pic-block {
    padding-top: 30px;
    padding-bottom: 30px;
}
.blog.detail .pic-block .pic {
    margin-left: 30px;
    margin-bottom: 30px;
}
.blog .tag-n-share {
    padding-top: 0px;
    padding-bottom: 30px;
    border-bottom: 1px solid #eeeeee;
}
.blog .tag {
    padding-top: 10px;
    padding-bottom: 10px;
}
.blog .tag i {
    color: #ef5350;
    padding-right: 8px;
    font-size: 16px;
}
.blog .tag ul {
    margin: 0px;
    padding: 0px;
}
.blog .tag ul li {
    display: inline-block;
    list-style-type: none;
}
.blog .tag ul li a {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    color: #ff493b;
    text-align: center;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 8px;
}
.blog .tag ul li a:hover {
    color: #222;
}
.blog .tag-n-share ul.social-icons {
    margin: 0px;
    text-align: right;
    padding: 0px;
    padding-top: 14px;
}
.blog .tag-n-share ul.social-icons li {
    font-size: 16px;
    color: #8f8f8f;
    display: inline-block;
    list-style-type: none;
    margin-left: 16px;
    text-align: center;
}
.blog .tag-n-share ul.social-icons li a {
    color: #8f8f8f;
}
.blog .tag-n-share ul.social-icons li a:hover {
    color: #ff493b;
}
.blog .tag-n-share ul.social-icons li:hover {
    color: #ff493b;
}
.blog .comments {
    padding-top: 50px;
}
.blog .comments .herotext {
    padding-bottom: 30px;
}
.blog .comments .herotext h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #222222;
    font-weight: 500;
    text-transform: uppercase;
    padding: 0px;
    margin-top: 6px;
    margin-bottom: 0px;
    letter-spacing: 2px;
}
.blog .comments .herotext .line {
    background-color: #dddddd;
    height: 1px;
    width: 60px;
    margin-top: 16px;
}
.media-left,
.media>.pull-left {
    padding-right: 20px;
}
.blog .comments .media-heading {
    font-size: 15px;
    color: #000;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0px;
    padding-top: 0px;
    text-transform: uppercase;
}
.blog .comments .time {
    font-size: 13px;
    color: #aaaaaa;
    font-weight: 400;
    font-style: italic;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 6px;
}
.blog .comments .time i {
    color: #ef5350;
    padding-right: 8px;
    font-size: 14px;
}
.blog .comments .media-left {
    padding-top: 0px;
    margin-bottom: 20px;
}
.blog .comments .media-body {
    position: relative;
}
.blog .comments .media-body p {
    font-size: 15px;
    line-height: 24px;
    padding-top: 6px;
}
.blog .comments .media-body .link {
    margin-top: 10px;
}
.blog .comments .media-body .link a {
    text-transform: uppercase;
    font-size: 13px;
}
.blog .comments .media-body .media {
    margin-top: 50px;
    margin-bottom: 20px;
}
.blog .comments .media-list {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 40px;
    padding-right: 40px;
}
.blog .comments .media-list li.media {
    margin-bottom: 0px;
    padding-bottom: 0px;
}
.blog .leave-a-reply {
    padding-top: 50px;
}
.blog .leave-a-reply .herotext {
    padding-bottom: 30px;
}
.blog .leave-a-reply .herotext h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #222222;
    font-weight: 500;
    text-transform: uppercase;
    padding: 0px;
    margin-top: 6px;
    margin-bottom: 0px;
    letter-spacing: 2px;
}
.blog .leave-a-reply .herotext .line {
    background-color: #dddddd;
    height: 1px;
    width: 60px;
    margin-top: 16px;
}
.blog .leave-a-reply .form-control {
    display: block;
    width: 100%;
    height: 48px;
    padding: 6px 12px;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 1.42857;
    color: #666666;
    background-color: #fff;
    background-image: none;
    border: 0px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
    border-radius: 0px;
    -webkit-box-shadow: none;
    /* box-shadow: inset 0 1px 1px rgba(0,0,0,.075); */
    /* -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s; */
    
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.blog .leave-a-reply textarea.form-control {
    height: 150px;
}
.blog .leave-a-reply .btn {
    color: #fff;
    border: 2px solid #ff493b;
    background-color: #ff493b;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    font-size: 12px;
    border-radius: 0px;
    text-transform: uppercase;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.blog .leave-a-reply .btn:hover {
    text-decoration: none;
    border: 2px solid #ff493b;
    background-color: transparent;
    color: #ff493b;
}
/* ---------------------------------------------------------------------- BLOG DETAIL ENDS ---------- */
/* ---------------------------------------------------------------------------- SIDEBAR STARTS ------------------ */

.sidebar .searchform3,
.sidebar .categories,
.sidebar .about,
.sidebar .s-icons,
.sidebar .posts-tabs,
.sidebar .photos,
.sidebar .tags,
.sidebar .latest-offers {
    margin-bottom: 50px;
}
.sidebar .searchform3 {
    width: 100%;
    height: 24px;
    line-height: 24px;
    cursor: default;
    margin-top: 0px;
    margin-bottom: 60px;
}
.sidebar #search3 {
    display: block;
    position: relative;
}
.sidebar #s3 {
    width: 100%;
    padding: 8px 11px;
    font-size: 15px;
    color: #333333;
    border-bottom-width: 1;
    border-bottom-style: solid;
    border-bottom-color: #eeeeee;
    border-top-style: none!important;
    border-right-style: none!important;
    border-left-style: none!important;
    font-style: italic;
}
.sidebar .sbtn3 {
    display: block;
    position: absolute;
    right: 5px;
    top: 8px;
    background: none;
    border: none;
    color: #333333;
    font-size: 14px;
    cursor: pointer;
}
.sidebar h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #222222;
    font-weight: 500;
    text-transform: uppercase;
    padding: 0px;
    margin-top: 6px;
    margin-bottom: 0px;
    letter-spacing: 2px;
}
.sidebar .lines {
    position: relative;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.sidebar .categories ul {
    padding: 0px;
    margin: 0px;
}
.sidebar .categories ul li {
    margin-bottom: 18px;
    padding-bottom: 18px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #eeeeee;
    list-style-type: none;
}
.sidebar .categories ul li:last-child {
    margin-bottom: 0px;
}
.sidebar .categories ul li .info {
    float: left;
}
.sidebar .categories ul li .info h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #222;
    font-weight: 500;
    padding-top: 0px;
    margin-top: 0px;
}
.sidebar .categories ul li .info h3 {
    font-size: 13px;
    color: #888888;
    font-style: italic;
    padding: 0px;
    margin: 0px;
}
.sidebar .categories ul li .info h3 a {
    color: #888888;
}
.sidebar .categories ul li .posts {
    float: right;
    color: #888888;
    font-size: 16px;
    text-align: center;
}
.sidebar .categories ul li:hover .info h2,
.sidebar .categories ul li:hover .info h3,
.sidebar .categories ul li:hover .info h3 a {
    color: #ff493b;
}
.sidebar .s-icons {
    margin-top: 40px;
}
.sidebar ul.icon-tabs .icon {
    font-size: 60px;
    color: #d1d1d1;
    padding-bottom: 10px;
}
.sidebar ul.icon-tabs .caption {
    font-size: 14px;
    color: #d1d1d1;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: 500;
}
.sidebar .tab-content {
    padding: 20px;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: none;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: #eeeeee;
    border-right-color: #eeeeee;
    border-bottom-color: #eeeeee;
    border-left-color: #eeeeee;
}
.sidebar .tab-content ul {
    padding: 0px;
    margin: 0px;
}
.sidebar .tab-content ul li {
    list-style-type: none;
    margin-top: 20px;
    margin-bottom: 20px;
}
.sidebar .tab-content ul li .picture {
    float: left;
}
.sidebar .tab-content ul li .info {
    padding-left: 90px;
}
.sidebar .tab-content ul li .info .caption {
    font-size: 14px;
    color: #666;
    text-align: left;
}
.sidebar .tab-content ul li .info .caption a {
    font-size: 14px;
    color: #666;
    text-align: left;
}
.sidebar .tab-content ul li .info .date {
    font-size: 12px;
    color: #ff493b;
    text-align: left;
}
.sidebar ul.nav1 {
    padding: 0px;
    margin: 0px;
}
.sidebar .nav1>li {
    list-style-type: none!important;
}
.sidebar .nav1>li>a:focus,
.sidebar .nav1>li>a:hover {
    background-color: transparent;
    text-decoration: none;
}
.sidebar .nav1>li>a {
    padding: 0px;
}
.sidebar .nav1>li .caption,
.sidebar .nav1>li>a .caption {
    font-size: 14px;
    color: #333333;
    text-transform: uppercase;
    font-weight: 600;
    padding-top: 14px;
    padding-bottom: 14px;
    border-top-width: 2px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: #eeeeee;
    border-right-color: #eeeeee;
    border-bottom-color: #eeeeee;
    border-left-color: #eeeeee;
    background-color: #f4f4f4;
    text-decoration: none;
}
.sidebar .nav1>li.active .caption,
.sidebar .nav1>li>a:focus .caption,
.sidebar .nav1>li>a:hover .caption {
    color: #000;
    border-top-width: 2px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: #ff493b;
    border-right-color: #eeeeee;
    border-bottom-color: transparent;
    border-left-color: #eeeeee;
    background-color: transparent;
    text-decoration: none;
}
.photos ul {
    padding: 0px;
    margin: 0px;
}
.photos ul li {
    list-style-type: none;
    display: inline-block;
    padding-right: 5px;
}
.photos ul li img:hover {
    opacity: 0.7;
}
.tag-list a {
    border: 1px solid #dddddd;
    display: inline-block;
    font-size: 12px;
    color: #333333;
    background-color: #f4f4f4;
    margin-bottom: 5px;
    margin-right: 3px;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.tag-list a,
.tag-list a:hover,
.tag-list a:active,
.tag-list a:focus {
    text-decoration: none;
    outline: none;
}
.tag-list a:hover {
    color: #fff;
    background-color: #ff493b;
    border: 1px solid #ff493b;
}
.latest-offers .block .picture {
    margin-bottom: 20px;
}
.latest-offers .block h1 {
    font-size: 16px;
    color: #333333;
}
.latest-offers .block .description {
    font-size: 13px;
}
.latest-offers .owl-theme .owl-controls .owl-nav .owl-prev {
    position: absolute;
    z-index: 10;
    left: auto;
    right: 0;
    top: auto;
    margin-top: 20px;
}
.latest-offers .owl-theme .owl-controls .owl-nav .owl-next {
    position: absolute;
    z-index: 10;
    left: auto;
    right: 39px;
    top: auto;
    margin-top: 20px;
}
.latest-offers .owl-theme .owl-controls .owl-nav [class*=owl-] {
    color: #888;
    font-size: 18px;
    background-color: transparent;
    display: inline-block;
    cursor: pointer;
    height: 40px;
    width: 40px;
    padding-top: 5px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 0px;
    border: 1px solid #dddddd;
}
.latest-offers .owl-theme .owl-controls .owl-nav [class*=owl-]:hover {
    background-color: #ff493b;
    color: #fff;
    text-decoration: none
}
/* ---------------------------------------------------------------------------- SIDEBAR STARTS ------------------ */

.pics-slider {
    text-align: center;
}
/* ------------------------------------------------------ OUR CLIENTS STARTS  ------------------ */

section.clients {
    padding-top: 70px;
    padding-bottom: 70px;
}
/* ------------------------------------------------------ OUR CLIENTS ENDS  ------------------ */
/* ---------------------------------------------------------------------- PORTFOLIO STARTS ------------------ */

#portfolio .herotext {
    padding-bottom: 30px;
}
.portfolio #options {
    margin-top: 0px;
    margin-bottom: 30px;
}
#options {
    margin-left: auto;
    margin-right: auto;
    text-align: right;
    margin-top: 40px;
}
#options ul {
    width: auto;
    text-align: center;
    margin: 0px;
    padding: 0px;
}
#options ul li {
    display: inline-block;
    margin: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 15px;
    padding-right: 15px;
}
#options ul li a {
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    color: #666666;
    padding-bottom: 6px;
    border-bottom: 2px solid transparent;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
#options ul li a:link {
    text-decoration: none;
    color: #666666;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
#options ul li:hover a,
#options ul li a.selected {
    color: #ff493b;
    text-decoration: none;
    padding-bottom: 4px;
    border-bottom: 2px solid #ff493b;
}
#portfolio ul li {
    list-style-type: none;
}
.isotope .isotope-item {
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    transition-duration: 0.8s;
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    transition-property: transform, opacity;
}
#portfolio .buttons {
    padding: 0px;
    margin-top: 70px;
    margin-right: auto;
    padding-bottom: 0px;
    margin-left: auto;
    text-align: center;
}
#portfolio .buttons a {
    font-size: 16px;
    padding-top: 12px;
    padding-right: 20px;
    padding-bottom: 12px;
    padding-left: 20px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.portfolio-grid .picture {
    position: relative;
    overflow: hidden;
}
.portfolio-grid img {
    width: 100%;
    display: block;
    transform: scale(1);
    -webkit-transform: scale(1);
    transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
}
.portfolio-grid .picture:hover img {
    opacity: 0.8;
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -webkit-transition: all .3s ease-in-out 0s;
    -moz-transition: all .3s ease-in-out 0s;
    -ms-transition: all .3s ease-in-out 0s;
    -o-transition: all .3s ease-in-out 0s;
    transition: all .3s ease-in-out 0s;
}
.portfolio-grid figure {
    float: left;
    width: 30%;
    height: auto!important;
    margin-bottom: 1px;
    margin-left: 1px;
    overflow: hidden;
    padding: 15px;
}
.portfolio-grid figure img {
    max-width: 100%;
    height: auto;
    display: inline-block;
    vertical-align: middle;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.portfolio-grid.nospace figure.item {
    padding: 0px;
    text-align: center;
}
.portfolio-grid figure.item {
    margin-bottom: 1px!important;
    text-align: center;
}
.portfolio-grid .item-w2 {
    width: 60%
}
.portfolio-grid .item-h2 {
    height: auto!important
}
.portfolio-grid .picture {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    position: relative;
}
.portfolio-grid .item:hover img {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.portfolio-grid .picture .icon-overlay {
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 12;
    opacity: 0;
    -webkit-transition: all .3s ease-in-out 0s;
    -moz-transition: all .3s ease-in-out 0s;
    -ms-transition: all .3s ease-in-out 0s;
    -o-transition: all .3s ease-in-out 0s;
    transition: all .3s ease-in-out 0s;
}
.portfolio-grid .picture:hover .icon-overlay {
    opacity: 1
}
.portfolio-grid .picture .icon-overlay a {
    font-size: 30px;
    color: #fff;
    text-decoration: none;
}
.portfolio-grid .picture .icon-overlay a:hover {
    font-size: 30px;
    color: #000;
    text-decoration: none;
}
.portfolio-grid .picture .text-overlay {
    position: absolute;
    background-color: rgba(255, 73, 59, 0.8);
    height: auto;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    opacity: 0;
    -webkit-transition: all .3s ease-in-out 0s;
    -moz-transition: all .3s ease-in-out 0s;
    -ms-transition: all .3s ease-in-out 0s;
    -o-transition: all .3s ease-in-out 0s;
    transition: all .3s ease-in-out 0s;
}
.portfolio-grid .picture:hover .text-overlay {
    opacity: 1
}
.portfolio-grid .picture .text-overlay .category {
    font-family: 'Lora', serif;
    font-weight: 400;
    font-size: 14px;
    font-style: italic;
    text-transform: uppercase;
    color: #fff;
    line-height: normal;
    letter-spacing: 2px;
    position: absolute;
    top: 30px;
    left: 40px;
    opacity: 0;
    margin-left: -100px;
    transition: all 300ms 100ms;
}
.portfolio-grid .picture:hover .text-overlay .category {
    opacity: 1;
    margin-left: 0px;
}
.portfolio-grid .picture .text-overlay h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #fff;
    line-height: normal;
    text-transform: uppercase;
    text-decoration: none;
    position: absolute;
    top: 45px;
    left: 40px;
    margin: 0px;
    padding: 0px;
    opacity: 0;
    margin-left: 100px;
    transition: opacity 300ms, margin 300ms;
}
.portfolio-grid .picture:hover .text-overlay h1 {
    opacity: 1;
    margin-left: 0px;
}
.portfolio-grid .picture .text-overlay h1 a {
    color: #fff;
}
.portfolio-grid .picture .text-overlay h1 a:hover {
    color: #000;
    text-decoration: none;
}
.portfolio-grid .picture .text-overlay .line {
    background-color: #fff;
    height: 2px;
    width: 60px;
    margin-top: 16px;
    position: absolute;
    text-align: left;
    top: 75px;
    left: 40px;
}
.portfolio-grid.nospace .picture .text-overlay .category {
    position: absolute;
    font-size: 14px;
    color: #fff;
    font-weight: 400;
    letter-spacing: 2px;
    text-align: left;
    top: auto;
    bottom: 90px;
    left: 50px;
}
.portfolio-grid.nospace .picture .text-overlay h1 {
    position: absolute;
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: left;
    margin: 0px;
    padding: 0px;
    top: auto;
    bottom: 70px;
    left: 50px;
}
.portfolio-grid.nospace .picture .text-overlay .line {
    background-color: #fff;
    height: 1px;
    width: 60px;
    margin-top: 16px;
    position: absolute;
    text-align: left;
    top: auto;
    bottom: 55px;
    left: 30px;
}
.portfolio .button {
    text-align: center;
    padding-top: 80px;
}
/* ---------------------------------------------------------------------- PORTFOLIO ENDS ------------------ */
/* ---------------------------------------------------------------------- PORTFOLIO DETAIL STARTS ------------------ */

.portfolio-detail {
    padding-bottom: 120px;
}
.portfolio-detail .herotext {
    padding-bottom: 50px;
}
.portfolio-detail .herotext .button {
    padding-top: 20px;
    text-align: right;
}
.portfolio-carousel {
    padding-bottom: 30px;
}
.portfolio-detail .description {
    padding-top: 50px;
    padding-bottom: 50px;
}
.portfolio-detail .project-info {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: right;
}
.portfolio-detail .project-info ul {
    padding: 0px;
    margin: 0px;
}
.portfolio-detail .project-info ul li {
    list-style: none;
    padding-bottom: 30px;
    text-align: right;
}
.portfolio-detail .project-info ul li:last-child {
    padding-bottom: 0px;
}
.portfolio-detail .project-info ul li .caption {
    font-size: 14px;
    color: #333333;
    text-transform: uppercase;
    font-weight: 700;
}
.portfolio-detail .project-info ul li .line {
    background-color: #dddddd;
    height: 1px;
    width: 60px;
    margin-top: 4px;
    margin-bottom: 12px;
    margin-left: auto;
}
.portfolio-detail .project-info ul li .detail ul.social-icons {
    padding: 0px;
    margin: 0px;
}
.portfolio-detail .project-info ul li .detail ul.social-icons li {
    display: inline-block!important;
    padding: 0px;
}
.portfolio-detail .project-info ul li .detail ul.social-icons li a {
    font-size: 14px;
    padding-left: 16px;
    padding-right: 0px;
    color: #8c8c8c;
    text-transform: uppercase;
}
.portfolio-detail .project-info ul li .detail ul.social-icons li a:hover {
    color: #ff493b;
}
.portfolio-detail .pagging {
    border-top: 1px solid #eeeeee;
    margin-top: 30px;
    padding-top: 30px;
}
.portfolio-detail .pagging .prev {
    text-align: left
}
.portfolio-detail .pagging .next {
    text-align: right
}
.portfolio-detail .pagging a {
    font-size: 14px;
    text-transform: uppercase;
    color: #333333;
    font-weight: 700;
    line-height: normal;
}
.portfolio-detail .pagging a:hover {
    color: #ff493b;
}
/* ---------------------------------------------------------------------- PORTFOLIO DETAIL ENDS ------------------ */
/* -------------------------------------------------------------- TESTIMONIALS STARTS --------------------- */

.testimonials .herotext {
    padding-bottom: 40px;
}
.testimonials .herotext h1,
.testimonials .herotext h2,
.testimonials .herotext .short-description {
    color: #fff;
}
.testimonials .block {
    text-align: center;
}
.testimonials .block .text {
    font-family: 'Lora', serif;
    font-weight: 400;
    font-size: 26px;
    padding-bottom: 30px;
    line-height: normal;
    color: #fff;
}
.testimonials .block .name {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #fff;
    letter-spacing: 3px;
    margin: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: normal;
    text-transform: uppercase;
}
.testimonials .block .companyname {
    font-family: 'Lora', serif;
    font-weight: 400;
    font-size: 14px;
    font-style: italic;
    text-transform: uppercase;
    color: #ccc;
    margin: 0px;
    padding-top: 3px;
    line-height: normal;
}
.testimonials .active {
    border-color: #fff;
    transform: scale(1.25);
}
.bx-wrapper .bx-pager {
    bottom: -95px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.bx-wrapper .bx-pager a {
    border: solid #ccc 1px;
    display: block;
    margin: 0 5px;
    padding: 3px;
}
.t-thumbs {
    margin-top: 50px;
    text-align: center;
}
.bxslider .row {
    margin-left: auto;
    margin-right: auto;
}
.t-thumbs a {
    padding-left: 4px;
    padding-right: 4px;
}
.t-thumbs a img {
    border: solid transparent 4px!important;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    -ms-transition: background 0.3s ease-in-out;
    -o-transition: background 0.3s ease-in-out;
    transition: background 0.3s ease-in-out;
}
.t-thumbs a:hover img,
.t-thumbs a.active img {
    border: solid #ff493b 4px!important;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    -ms-transition: background 0.3s ease-in-out;
    -o-transition: background 0.3s ease-in-out;
    transition: background 0.3s ease-in-out;
}
/* -------------------------------------------------------------- TESTIMONIALS STARTS --------------------- */
/* -------------------------------------------------------------- TESTIMONIALS 02 STARTS --------------------- */

.testimonials-02 .herotext {
    padding-bottom: 40px;
}
.testimonials-02 .block {
    text-align: center;
}
.testimonials-02 .block .text {
    font-family: 'Lora', serif;
    font-weight: 400;
    font-size: 26px;
    padding-bottom: 30px;
    line-height: normal;
    color: #000;
}
.testimonials-02 .block .name {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #222;
    letter-spacing: 3px;
    margin: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: normal;
    text-transform: uppercase;
}
.testimonials-02 .block .companyname {
    font-family: 'Lora', serif;
    font-weight: 400;
    font-size: 14px;
    font-style: italic;
    text-transform: uppercase;
    color: #555;
    margin: 0px;
    padding-top: 3px;
    line-height: normal;
}
.testimonials-02 .active {
    border-color: #fff;
    transform: scale(1.25);
}
.bx-wrapper .bx-pager {
    bottom: -95px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.bx-wrapper .bx-pager a {
    border: solid #ccc 1px;
    display: block;
    margin: 0 5px;
    padding: 3px;
}
.t-thumbs {
    margin-top: 50px;
    text-align: center;
}
.bxslider .row {
    margin-left: auto;
    margin-right: auto;
}
.t-thumbs a {
    padding-left: 4px;
    padding-right: 4px;
}
.t-thumbs a img {
    border: solid transparent 4px!important;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    -ms-transition: background 0.3s ease-in-out;
    -o-transition: background 0.3s ease-in-out;
    transition: background 0.3s ease-in-out;
}
.t-thumbs a:hover img,
.t-thumbs a.active img {
    border: solid #ff493b 4px!important;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    -ms-transition: background 0.3s ease-in-out;
    -o-transition: background 0.3s ease-in-out;
    transition: background 0.3s ease-in-out;
}
/* -------------------------------------------------------------- TESTIMONIALS 02 ENDS --------------------- */
/* -------------------------------------------------------------- CONTACT US STARTS --------------------- */

.contact-us iframe {
    border: none;
    max-width: 100%;
}
.contact-us iframe {
    display: block;
    /* iframes are inline by default */
    
    background: #000;
    border: none;
    /* Reset default border */
    
    height: 500px;
    /* Viewport-relative units */
    
    width: 100vw;
}
.google-map iframe {
    border: 0;
    height: 400px!important;
    width: 100%!important;
}
iframe,
embed,
object {
    max-width: 100%;
}
.contact-us .herotext {
    padding-bottom: 70px;
}
.contact-us .address {
    font-size: 22px;
    font-weight: 500;
    text-align: center;
    color: #000;
    line-height: 36px;
}
.contact-us .address i {
    color: #ff493b;
    padding-right: 10px;
}
.form {
    padding-top: 40px;
}
.form input,
.form textarea {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.form textarea {
    margin-bottom: 5px;
}
.form .buttons {
    text-align: center;
}
#message_post {
    text-align: center;
    padding-bottom: 20px;
}
.errorMessage {
    text-align: center;
    color: #ff0000;
}
.successMessage {
    text-align: center;
    color: #12d62d;
}
.form .btn {
    font-size: 16px;
    background-color: transparent;
    margin-top: 40px;
    border-radius: 60px;
    padding-top: 12px;
    padding-right: 30px;
    padding-bottom: 12px;
    padding-left: 30px;
    border: 2px solid #ff493b;
    color: #ff493b;
    text-decoration: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.form .btn:hover {
    background-color: #ff493b;
    border: 2px solid #ff493b;
    color: #fff;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
/* -------------------------------------------------------------- CONTACT US ENDS --------------------- */
/* ---------------------------------------------------------------------- FOOTER STARTS ------------------ */

footer {
    padding-top: 90px;
    padding-bottom: 90px;
}
footer .contactinfo {
    padding-bottom: 30px;
}
footer h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
    margin-top: 0px;
    padding-top: 6px;
    margin-bottom: 30px;
}
footer .logo {
    padding-bottom: 30px;
}
footer .description {
    font-size: 14px;
    color: #999;
}
footer .links {} footer .links ul {
    padding: 0px;
    margin: 0px;
}
footer .links ul li {
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    list-style-type: none;
    padding-bottom: 4px;
}
footer .links ul li a {
    color: #999999;
}
footer .links ul li a:hover {
    color: #ff493b;
    text-decoration: none;
}
footer .links ul li a:before {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f105";
    padding-right: 12px;
    color: #ff493b;
}
footer .contact {
    color: #999999;
}
footer .contact .address {
    text-transform: none!important;
    line-height: 24px;
}
footer .contact .block {
    padding-top: 2px;
}
footer .contact h3 {
    font-weight: 500;
    padding-bottom: 0px;
    margin-bottom: 3px;
    font-size: 14px;
    color: #fff;
}
footer .contact .text {
    font-weight: 500;
    font-size: 14px;
}
footer .contact .text a {
    color: #999999;
}
footer .contact .text a:hover {
    color: #ff493b;
    text-decoration: none;
}
footer ul.social-icons {
    margin: 0px;
    text-align: left;
    padding-top: 30px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}
footer ul.social-icons li {
    font-size: 16px;
    color: #ccc;
    background-color: transparent;
    border: 1px solid #999;
    height: 32px;
    width: 32px;
    border-radius: 18px;
    display: inline-block;
    list-style-type: none;
    margin-right: 4px;
    margin-left: 4px;
    text-align: center;
    line-height: 1.9;
}
footer ul.social-icons li a {
    color: #ccc;
}
footer ul.social-icons li a:hover {
    color: #fff;
}
footer .from-blog ul {
    padding: 0px;
    margin: 0px;
}
footer .from-blog ul li {
    font-weight: 500;
    font-size: 14px;
    list-style-type: none;
    padding-bottom: 20px;
	padding-top: 7px;
}
footer .from-blog ul li .picture {
    float: left;
    margin-right: 10px;
}
footer .from-blog ul li .info {
    padding-left: 100px;
}
footer .from-blog ul li .info .caption {
    line-height: 1;
}
footer .from-blog ul li a {
    font-size: 15px;
    color: #fff;
    line-height: normal;
}
footer .from-blog ul li a:hover {
    color: #ff493b;
    text-decoration: none;
}
footer .from-blog .meta-info ul {
    padding: 0px;
    margin: 0px;
    font-weight: 400;
    padding-top: 4px;
}
footer .from-blog .meta-info ul li {
    display: inline-block;
    padding-left: 6px;
    text-transform: uppercase;
}
footer .from-blog .meta-info ul li:first-child {
    display: inline-block;
    padding-left: 0px;
}
footer .from-blog .meta-info ul li:first-child:before {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "";
    padding-right: 0px;
}
footer .from-blog .meta-info ul li:before {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "/";
    padding-right: 10px;
    color: #999999;
}
footer .from-blog .meta-info ul li a {
    font-size: 12px;
    color: #999999;
    text-decoration: none;
}
footer .from-blog .meta-info ul li a:hover {
    color: #ff493b;
    text-decoration: none;
}
footer .copyright {
    font-size: 14px;
    color: #999999;
    padding-top: 30px;
	padding-left: 100px;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #2c2c2c;
}
footer .copyright .designby {
    text-align: right;
}
footer .copyright a {
    color: #ff493b;
}
footer .copyright a {
    color: #ff493b;
}
/* ------------------------------------------------------ FOOTER 01 ENDS  ------------------ */
/* ---------------------------------------------------------------------- FOOTER ENDS ------------------ */
/* ---------------------------------------------------------------------- TOTOP STARTS ------------------ */

.scrollup {
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: none;
    text-indent: -9999px;
    background-color: #ff493b;
    background-image: url(../images/icons/to-top.png);
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 999997;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.scrollup:hover {
    opacity: 0.9;
}
/* ---------------------------------------------------------------------- TOTOP ENDS ------------------ */
/* ------------------------------------------------------ HALF IMAGE HALF TEXT STARTS  ------------------ */

section.half {
    position: relative;
    overflow: hidden;
    z-index: 10;
}
.img-side.img-right {
    right: 0;
}
.img-side.img-left {
    left: 0;
}
.img-side {
    padding: 0px;
    position: absolute;
    top: 0px;
    height: 100%;
    overflow: hidden;
    z-index: 100;
}
.img-holder {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
}
/* ------------------------------------------------------ HALF IMAGE HALF TEXT ENDS  ------------------ */
/* ------------------------------------------- NO GUTTER STARTS ---------- */

.no-gutter-12 [class*="-12"] {
    padding-left: 0;
    padding-right: 0;
}
.no-gutter-10 [class*="-10"] {
    padding-left: 0;
    padding-right: 0;
}
.no-gutter-7 [class*="-7"] {
    padding-left: 0;
    padding-right: 0;
}
.no-gutter-6 [class*="-6"] {
    padding-left: 0;
    padding-right: 0;
}
.no-gutter-5 [class*="-5"] {
    padding-left: 0;
    padding-right: 0;
}
.no-gutter-4 [class*="-4"] {
    padding-left: 0;
    padding-right: 0;
}
.no-gutter-3 [class*="-3"] {
    padding-left: 0;
    padding-right: 0;
}
.no-gutter-2 [class*="-2"] {
    padding-left: 0;
    padding-right: 0;
}
/* ------------------------------------------- NO GUTTER ENDS ---------- */
/* -------------------------------------------------------------- BACKGROUND STARTS --------------------- */

.light-grey-bg {
    background-color: #f8fafb;
}
.dark-grey-bg {
    background-color: #252525;
}
/* -------------------------------------------------------------- BACKGROUND ENDS --------------------- */
/* ---------------------------------------------------------------------- PARALLAX STARTS ------------------ */

.parallax-1 {
    background-attachment: fixed;
    background-image: url(../images/parallax/1.jpg);
    background-repeat: repeat-y;
    background-position: 50% 0;
    background-size: cover;
}
.parallax-2 {
    background-attachment: fixed;
    background-image: url(../images/parallax/2.jpg);
    background-repeat: repeat-y;
    background-position: 50% 0;
    background-size: cover;
}
.parallax-3 {
    background-attachment: fixed;
    background-image: url(../images/parallax/3.jpg);
    background-repeat: repeat-y;
    background-position: 50% 0;
    background-size: cover;
}
.parallax-4 {
    background-attachment: fixed;
    background-image: url(../images/parallax/4.jpg);
    background-repeat: repeat-y;
    background-position: 50% 0;
    background-size: cover;
}
.parallax-5 {
    background-attachment: fixed;
    background-image: url(../images/parallax/5.jpg);
    background-repeat: repeat-y;
    background-position: center bottom;
    background-size: cover;
}
/* ---------------------------------------------------------------------- PARALLAX ENDS ------------------ */
/* -------------------------------------------------------------- BUTTONS & LINKS STARTS  --------------------- */

.button {
    padding-top: 30px;
}
.button a.link {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 12px;
    color: #ff493b;
    text-transform: uppercase;
    letter-spacing: 3px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.button a.link:after {
    content: "\e606";
    display: inline-block;
    font-family: 'simple-line-icons';
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-left: 5px;
    font-size: 10px!important;
}
.button a.link:hover {
    color: #000;
    text-transform: uppercase;
    text-decoration: none;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}


.button1 {
    padding-top: 30px;
}
.button1 a.link {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 12px;
    color: #ff493b;
	padding-left:160px;
    text-transform: uppercase;
    letter-spacing: 3px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.button1 a.link:after {
    content: "\e606";
    display: inline-block;
    font-family: 'simple-line-icons';
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-left: 5px;
    font-size: 10px!important;
}
.button1 a.link:hover {
    color: #000;
    text-transform: uppercase;
    text-decoration: none;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
/* -------------------------------------------------------------- BUTTONS & LINKS ENDS  --------------------- */
/* -------------------------------------------------------------- PADDING & MARGINGS STARTS  --------------------- */

.p-b-0 {
    padding-bottom: 0px;
}
.p-t-150 {
    padding-top: 150px;
}
.p-tb-150 {
    padding-top: 150px;
    padding-bottom: 150px;
}
.p-t-100 {
    padding-top: 100px;
}
.p-b-100 {
    padding-bottom: 100px;
}
.p-tb-100 {
    padding-top: 100px;
    padding-bottom: 100px;
}
.p-t-80 {
    padding-top: 80px;
}
.p-b-80 {
    padding-bottom: 80px;
}
.p-t-70 {
    padding-top: 70px;
}
.p-b-70 {
    padding-bottom: 70px;
}
.p-t-60 {
    padding-top: 60px;
}
.p-b-60 {
    padding-bottom: 60px;
}
.p-t-50 {
    padding-top: 50px;
}
.p-b-50 {
    padding-bottom: 50px;
}
.p-t-40 {
    padding-top: 40px;
}
.p-b-40 {
    padding-bottom: 40px;
}
/* -------------------------------------------------------------- PADDING & MARGINGS ENDS  --------------------- */

@media screen and (max-width: 1200px) {
    .b-slick-arrows {
        width: 686px;
    }
}
@media screen and (max-width: 991px) {
    .b-slick-arrows {
        width: 586px;
    }
    .pagination {
        margin-bottom: 100px;
    }
    .blog .leave-a-reply {
        padding-top: 50px;
        margin-bottom: 100px;
    }
    footer .about,
    footer .links {
        padding-bottom: 50px;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .navbar-default .navbar-nav>li>a {
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-size: 12px;
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 4px;
        padding-right: 6px;
        padding-left: 6px;
        padding-top: 30px;
        padding-bottom: 24px;
    }
}
@media screen and (max-width: 639px) {
    .b-slick-arrows {
        display: block;
        visibility: visible;
        width: 90%;
    }
}
@media screen and (max-width: 767px) {
    .navbar-nav.pull-right {
		float: left!important;
	}
	.navbar-nav {
		margin: 0px;
		padding-top:10px;
		padding-bottom:10px;
	}
	.yamm .yamm-content {
		padding: 0px!important;
	}
	.dropdown-menu{
		padding:0px;
	}
	#navigation {
        width: 100%;
        margin-left: auto;
        margin-bottom: auto;
        position: fixed;
        z-index: 99999;
        background-color: #000;
        top: 0px;
        transition: all linear 0.3s;
        -webkit-transition: all linear 0.3s;
        -moz-transition: all linear 0.3s;
        -ms-transition: all linear 0.3s;
    }
    .navbar-brand {
        float: left;
        height: 50px;
        padding: 18px 15px;
        font-size: 18px;
        line-height: 20px;
    }
    .nav>li {
        position: relative!important;
        display: block!important;
    }
    .navbar-default .navbar-nav>li>a {
        padding-right: 0px;
        padding-left: 0px;
        padding-top: 8px;
        padding-bottom: 5px;
    }
    #navigation.sticky .navbar-nav>li>a {
        padding-right: 0px;
        padding-left: 0px;
        padding-top: 8px;
        padding-bottom: 5px;
    }
    .navbar-default .navbar-nav .open .dropdown-menu>li>a:focus,
    .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
        color: #fff;
        background-color: transparent;
    }
    .b-team-holder .b-slick-arrows {
        display: block;
        visibility: visible;
        width: 100%;
    }
    .b-team-holder .b-slick-arrows #team-slideshow-prev {
        left: 15px;
    }
    .b-team-holder .b-slick-arrows #team-slideshow-next {
        right: 15px;
    }
    .b-team-holder-mod {
        margin-bottom: 0;
    }
    .b-team-list .team-list-item {
        width: 50%;
    }
    footer .about,
    footer .links,
    footer .contact {
        padding-bottom: 50px;
    }
}
@media screen and (max-width: 479px) {
    .b-team-list .team-list-item {
        width: 100%;
    }
    .team-carousel-item {
        width: 310px;
    }
}
@media (max-device-width: 480px) and (orientation: landscape) {
  .navbar-collapse {
    max-height: 200px;
  }
}